:root{
    --primary-color: #2E2E2E;
    --accent-color: #D72638;
    --secondary-color: #141414;
    --secondary-background:#ffffff;
    --soft-gray: #B0B0B0;
}

body{
    margin:0 auto;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;

    max-width: 1400px;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

code, pre{
    font-family: "Fira Code", sans-serif;
    font-style: italic;
    font-weight: 200;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1em 2em;
}

h1{
    font-size: 2em;
}

header nav > a{
    font-size: 1em;
    margin: 1em;
    padding-bottom: .7em;

    text-decoration: none;
    color: var(--primary-color);
    
}

header nav > a:hover{
    border-bottom: 3px solid var(--accent-color);
}

.hero{
    max-width: 1000px;
    margin: 0 auto;
}

.hero > p{
    font-size: 3.5em;
    text-align: center;

    margin: 2em 0;
    color: var(--secondary-color);
}

.carousel-container {
    position: relative;
    width: 100%;
    height: 860px;
    margin: 2em auto 0;
    overflow: hidden;
}

.carousel-container > img{
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.carousel {
    display: flex;

    
    width: 90%;
    height: 60%;
    margin: 12% auto 2%;
    padding: 3em;

    background-color: var(--secondary-background);

    justify-content: flex-start;
    align-items: center;

    gap: 1em;

    overflow: hidden;
    box-sizing: border-box;

}

.carousel-item{
    display: flex;
    flex-direction: column;
    min-width: 32%;
    height: 400px;
    box-sizing: border-box;
    background-color: var(--soft-gray);
    transition: transform 0.5s ease-in-out;

    justify-content: center;
    align-items: center;

    text-align: center;

    border-radius: 5px;
    padding: 5em 0;


}

.carousel-item > a{
    display: block;
    width: 80%;
    height: auto;
}

.carousel-item > a > img {
    width: 100%;
    height: 90%;
    background-color: var(--secondary-color);
    display: block;
    border-radius: 10px;

    transition: transform .3s ease-in-out;
}

.carousel-item > a > img:hover {
    transform: scale(1.1);
}

.button{
    border-radius: 5px;
    padding: 1.5em 2em;
    margin: 0 auto;
    display: block;
    width: fit-content;

    text-decoration: none;
    color: var(--secondary-background);
    background-color: var(--accent-color);
    border: 1px solid var(--secondary-color);
    
}

.button:hover{
    background-color: var(--secondary-background);
    color: var(--accent-color);
    border: 1px solid var(--secondary-color);
}

.double-images{
    color: var(--secondary-background);
    background-color: var(--primary-color);

    padding: 2.5em 0;

    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    align-items: center;
    text-align: center;

    line-height: 1.8em;
}

.double-images figure{
    flex: 1;

    flex-basis: 40%;

}

.double-images-row{
    color: var(--secondary-background);
    background-color: var(--primary-color);

    padding: 2.5em 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;

    line-height: 1.8em;
}

.double-images-row figure {
    overflow: hidden;
    display: block;

    box-sizing: border-box;
}


.double-images-row figure img{
    width: 50%;
    max-width: 55%;

    margin: 1em 1em;
    box-sizing: border-box;
}

.double-images-row > .image-one > img{
    padding: 3em;
}

.double-images-row > .image-one > figcaption{
    width: 45%;
    float: right;

    margin-top: 1em;
}

.double-images-row > .image-two > figcaption{
    width: 45%;
    float: left;

    margin-top: 2em;
}

.skills-list{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
}

.skills-list > h2{
    flex-basis: 100%;

    font-size: 2em;

    text-align: center;

    padding-bottom: 1em;
    border-bottom: 3px solid var(--accent-color);
}

.skills-list > ul{

    flex-basis: 30%;

    margin: 0 auto;

    line-height: 4em;

    font-size: 1.5em;

    list-style: none;
    text-align: center;
}

.skills-list > ul > li{
    transition: transform .3s ease-in-out;
}

.skills-list > ul > li:hover{
    transform: scale(1.1);
}

.programming-languages{

    box-sizing: border-box;
    color: var(--secondary-background);
    text-align: center;
    padding: 5em;
    
    position: relative;

    width: 100%;
    height: auto;
    overflow: hidden;

    margin: 2em 0;

}


.programming-languages > img{
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    height: auto;
    left: 0;
    top: 0;
    object-fit: cover;
    
}

.programming-languages > div{
    
    border-radius: 5px;
    width: 50%;

    padding: 2em;

    background-color: var(--secondary-color);
    margin: auto;
}

.programming-languages > div > ul{
    text-align: left;
    list-style: none;
    line-height: 4em;

}

.progress {
    height: 10px;
    background-color: var(--accent-color);
    border-radius: 5px;
  }

.image-one > img{    
    max-width: 100%;
    height: auto;
}

.image-two > img{
    max-width: 100%;
    height: auto;

    margin: auto 0;
}


.github-image{
    display: flex;
    flex-wrap: wrap;
    gap: 5em;
    justify-content: center;

    text-align: center;
    margin-top: 3em;
}

.github-image > article{
    flex-basis: 40%;
}

.github-image > article > h2{
    font-size: 2.1em;
}

.github-image > article > img{
    max-width: 400px;
    max-height: 400px;

    margin: 2em 0;

}

.relative-article{
    display: block;
    position: relative;
    padding: 5em;
}

.relative-article > img:first-child{
    position: absolute;
    bottom: 0;
    left: 5em;

    width: 460px;
    height: 400px;
}

.relative-article > img:last-child{
    position: absolute;
    bottom: 9em;
    right: 2em;

    width: 460px;
    height: 400px;

    z-index: -1;
}


.wf1{
    max-width: 600px;
    background-color: var(--primary-color);
    margin: .5em auto;
    padding: .5rem;
    border: 3px solid var(--accent-color);
    border-radius: 5px;
}

.wf1 > h2{
    text-align: center;
    color: var(--soft-gray);
}

.wf1 fieldset{
    margin: 1rem;
    border: none;
    padding: .5rem 0;
}

.wf1 legend{
    color: var(--soft-gray);
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 1.2em;
}

.wf1 label{
    display: block;
    padding-top: 1rem;
    color: var(--secondary-background);
    font-size: .9rem;
    margin-bottom: 10px;
    font-weight: 500;
}

.wf1 span{
    color: var(--secondary-background);
    font-size: .9em;
}

.wf1 select, input[type="text"], input[type="email"], input[type="tel"], textarea{
    padding: .7rem;
    background-color: var(--soft-gray);
    width: 100%;
    box-sizing: border-box;
}

.wf1 input[type="checkbox"]{
    accent-color: var(--accent-color);
    margin-right: 7px;
    transform: scale(1.5);

}


.wf1 input:required, textarea:required{
    border-bottom: 5px solid var(--accent-color);
}

.wf1 input:required:valid, textarea:required:valid{
    border-bottom: 5px solid var(--secondary-background);
}

input[type="submit"]{
    display: block;
    width: 95%;
    text-align: center;
    margin: 0 auto 1em;
    padding: .7rem;
    background-color: var(--accent-color);
    color: var(--secondary-background);
    border: 2px solid var(--secondary-background);
    font-size: 1em;
}

footer{
    grid-column: 1/4;
    background-color: var(--secondary-color);
    text-align: center;
    padding: .5em 0;
}

footer > p{
    color: var(--secondary-background);
    font-weight: 500;
    margin: 0;
    padding: 0;
    font-size: 1.3em;
}

#lastModified{
    padding: 0;
    margin: 0;
    color: var(--secondary-background);
    font-size: 1em;
    font-weight: 500;
}

.reviews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

    max-width: 500px;
    height: 300px;
    background-color: var(--primary-color);
    margin: 15% auto;
    padding: .5rem;
    border: 3px solid var(--accent-color);
    border-radius: 5px;
}

.reviews > section > h1{
    color: var(--soft-gray);
}

.reviews > section > p{
    border: none;
    color: var(--soft-gray);
}

.portfolio {
    padding: 3em;
    background-color: var(--secondary-background);
}

.project {
    display: flex;
    gap: 2em;
    margin-bottom: 3em;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 2em;
}

.project img {
    max-width: 300px;
    height: auto;
    border-radius: 10px;
}

.project-info {
    flex: 1;
    color: var(--secondary-background);
}

.project-info h3 {
    font-size: 1.8em;
}

.project-info p {
    font-size: 1.1em;
    margin-bottom: 1em;
}

.project-info a {
    display: inline-block;
}




footer{
    background-color: var(--secondary-color);

    color: var(--secondary-background);
    display: flex;

    justify-content: space-around;
    align-items: center;
    text-align: center;

    margin-top: 3em;

}

.social-nav{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.social-nav > a{
    flex: 1;
    max-width: 50px;
    margin: 1em;
}

.social-nav img{
    width: 100%;
    height: auto;
    transition: transform 0.1s ease-in-out;

    border-radius: 40%;
}

.social-nav img:hover{
    transform: scale(1.2);
}

