:root{
    --darkest-color: #000;
    --dark-color: #3b3838;
    --bright-color: #979494;
    --brightest-color: #fff;
}
@media screen and (min-width: 581px){
    
    body{
        margin: 0;
        padding: 0;
        font-family: "Roboto", serif;
        font-weight: 300;
        font-size: 16px;
    }

    h1, h2, h3, h4, h5, h6{
        font-weight: 600;
    }

    header{
        background-color: var(--dark-color);
        display: flex;
        padding: .5em 2em;
        justify-content: space-between;
        align-items: center;
        color: var(--brightest-color);
    }

    header > nav > ul{
        list-style: none;
        display: flex;
        justify-content: space-between;
    }

    nav > ul > li > a{
        text-decoration: none;
        color: var(--brightest-color);
        justify-content: center;
        padding: 1em;
        font-weight: 400;

    }

    nav > ul > li > a:hover{
        border-bottom: 3px solid var(--darkest-color);
        background-image: linear-gradient(var(--dark-color), var(--brightest-color));
    }

    main{
        max-width: 1500px;
        margin: 2em auto;

        padding: 1em;
    }

    .current-selection{
        text-align: center;
        font-size: 2em;
        color: var(--dark-color);
    }

    .photos-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 500px));
        justify-content: center;
    }

    figure{
        display: flex;
        flex-direction: column;
        text-align: center;
        transition: .3s;   
        padding: 0;
        background-color: var(--brightest-color);
        border: 1px solid var(--darkest-color);
    }
    
    figure:hover{
        border: 1px solid var(--darkest-color);
        box-shadow: 0 0 30px var(--darkest-color);
        border-radius: 5px;
        cursor: pointer;
    }
    
    figure > figcaption{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    figure > figcaption > ul{
        padding: 0;
        margin: 0 auto;
        text-align: center;
    }

    figure > figcaption > ul > li{
        list-style: none;
        margin: 1em 0;
    }

    img{
        border: 1px solid transparent;
        max-width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
        display: block;
    }

    

    #displayMenu{
        display: none;
    }


    footer{
        grid-column: 1/4;
        background-color: var(--dark-color);
        text-align: center;
        padding: .5em 0;
    }

    footer > p{
        color: var(--brightest-color);
        font-weight: 500;
        margin: 0;
        padding: 0;
        font-size: 1.3em;
    }

    #lastModified{
        padding: 0;
        margin: 0;
        color: var(--brightest-color);
        font-size: 1em;
        font-weight: 500;
    }
}
