:root{
    --primary-color: #2E2E2E;
    --accent-color: #D72638;
    --secondary-color: #141414;
    --secondary-background:#ffffff;
    --soft-gray: #B0B0B0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


.wf1, h1{
    max-width: 600px;
    background-color: var(--primary-color);
    margin: .5em auto;
    padding: .5rem;
    border: 3px solid var(--accent-color);
}

h1{
    text-align: center;
    color: var(--soft-gray);
}

.wf1 fieldset{
    margin: 1rem;
    border: none;
    padding: .5rem 0;
}

.wf1 legend{
    color: var(--soft-gray);
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 1.2em;
}

.wf1 label, p{
    display: block;
    padding-top: 1rem;
    color: var(--secondary-background);
    font-size: .9rem;
    margin-bottom: 10px;
    font-weight: 500;
}

.wf1 span{
    color: var(--secondary-background);
    font-size: .9em;
}

.wf1 select, input[type="text"], input[type="date"], textarea{
    padding: .7rem;
    background-color: var(--soft-gray);
    width: 100%;
    box-sizing: border-box;
}
.overall-rating{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .6rem;
    gap: 15px;
}

.overall-rating label{
    text-align: center;
    font-size: 1em;
    
}

select{
    appearance: none;
    font-size: .9em;
}

.overall-rating input[type="radio"]{
    display: block;
    accent-color: var(--accent-color);
    justify-self: center;
    
    transform: scale(1.2);
}

.wf1 input[type="checkbox"]{
    accent-color: var(--accent-color);
    margin-right: 7px;
    transform: scale(1.5);

}

.wf1 input:required, select:required{
    border-bottom: 5px solid var(--accent-color);
}

.wf1 input:required:valid, select:required:valid{
    border-bottom: 5px solid var(--secondary-background);
}

input[type="submit"]{
    display: block;
    width: 95%;
    text-align: center;
    margin: 0 auto 1em;
    padding: .7rem;
    background-color: var(--accent-color);
    color: var(--secondary-background);
    border: 2px solid var(--secondary-background);
    font-size: 1em;
}

footer{
    grid-column: 1/4;
    background-color: var(--secondary-color);
    text-align: center;
    padding: .5em 0;
}

footer > p{
    color: var(--secondary-background);
    font-weight: 500;
    margin: 0;
    padding: 0;
    font-size: 1.3em;
}

#lastModified{
    padding: 0;
    margin: 0;
    color: var(--secondary-background);
    font-size: 1em;
    font-weight: 500;
}

#reviews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

    max-width: 400px;
    height: 300px;
    background-color: var(--primary-color);
    margin: 10% auto;
    padding: .5rem;
    border: 3px solid var(--accent-color);
}

#reviewTitle{
    border: none;
}

#reviewText{
    font-size: 1.2em;
}