body{
    font-family: "Roboto", serif;
    font-weight: 400;
}

header, main, footer{
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid black;
    padding: 1rem;
    background-color:rgb(171, 182, 232)
}

main{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section{
    padding: 1rem;
    background-color: #fff;
}